* {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  width: 100%;
  padding-top: 17px;
  .header__menu {
    position: relative;
    ul {
      position: absolute;
      left: 160px;
    }
    .header__menu__li {
      display: inline;
      font-size: 16px;
      margin-right: 32px;
    }
  }
  .header__logo {
    position: relative;
    .header__logo__img {
      width: 170px;
      height: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .header__icon {
    position: relative;
    div {
      position: absolute;
      right: 160px;
    }
    .header__icon__item {
      top: 18px;
      width: 24px;
      height: 24px;
      margin-left: 31px;
    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    grid-template-columns: 1fr;
    .header__menu,
    .header__icon {
      display: none;
    }
  }
}
