* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  width: 100%;
  height: 100px;
  padding-top: 17px;
}
header .header__menu {
  position: relative;
}
header .header__menu ul {
  position: absolute;
  left: 160px;
}
header .header__menu .header__menu__li {
  display: inline;
  font-size: 16px;
  margin-right: 32px;
}
header .header__logo {
  position: relative;
}
header .header__logo .header__logo__img {
  width: 170px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header .header__icon {
  position: relative;
}
header .header__icon div {
  position: absolute;
  right: 160px;
}
header .header__icon .header__icon__item {
  top: 18px;
  width: 24px;
  height: 24px;
  margin-left: 31px;
}

@media screen and (max-width: 1000px) {
  header {
    grid-template-columns: 1fr;
  }
  header .header__menu,
header .header__icon {
    display: none;
  }
}
main .main__display {
  display: grid;
  grid-template-columns: 6fr 5fr;
  background-color: yellow;
}
main .main__display .main__display__left {
  background-color: pink;
}
main .main__display .main__display__left .main__display__left__stepper {
  height: 200px;
  background-color: gray;
  display: flex;
  padding: 20px;
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step {
  background-color: honeydew;
  flex: 1;
  text-align: center;
  position: relative;
  display: flex;
  width: 150px;
  justify-content: center;
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step .circle-container {
  height: 24px;
  width: 24px;
  background-color: black;
  border-radius: 50%;
  color: white;
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step:nth-child(1) .circle-container {
  height: 24px;
  width: 24px;
  background-color: black;
  border-radius: 50%;
  border: black 2px solid;
  color: white;
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step:nth-child(1) .circle-container::after {
  content: "1";
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step:nth-child(2) .circle-container {
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 50%;
  border: black 2px solid;
  color: black;
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step:nth-child(2) .circle-container::after {
  content: "2";
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step:nth-child(3) .circle-container {
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 50%;
  border: black 2px solid;
  color: black;
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step:nth-child(3) .circle-container::after {
  content: "3";
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step .connect-line {
  display: block;
  height: 3px;
  background-color: gray;
  position: absolute;
  top: 12px;
  right: calc(50% + 80px);
  left: calc(-50% + 80px);
}
main .main__display .main__display__left .main__display__left__stepper .main__display__left__stepper__step .label-container {
  color: black;
  margin-left: 20px;
}
main .main__display .main__display__right {
  background-color: orange;
}

/*# sourceMappingURL=output.css.map */
