/*color*/
:root {
  --font-color: #2a2a2a;
  --primary-bg: #ffffff;
  --secondary-bg: #ffffff;
  --form-border: #4a4a4a;
  --main-logo: url("./image/Logo@2x.png");
  --main-icon1: url("./image/icon@2x_1.png");
  --main-icon2: url("./image/icon@2x_2.png");
  --main-icon3: url("./image/icon@2x_3.png");
  --step-label: black;
  --step-circle: white;
  --step-active: black;
  --step-line: black;
  --step-circle-container1: black;
  --form-label: black;
  --form-radio-bg: white;
  --form-radio-border: white;
  --form-radio-mainContent: black;
  --form-radio-input-sd: black;
  --form-radio-input-bg: white;
  --shoppinglist-bg: white;
  --shoppinglist-control-bg: #f0f0f5;
  --shoppinglist-control-content: black;
  --btnleft-bg: white;
  --btnleft-color: black;
  --divideLine: #e6e6eb;
  --rightPart-border: black;
}

[data-theme="dark"]{
  --font-color: #ffffff;
  --primary-bg: #121212;
  --secondary-bg: #383838;
  --form-border: #5e5e5e;
  --main-logo: url("./image/Logo@2x_dark.png");
  --main-icon1: url("./image/icon@2x_1_dark.png");
  --main-icon2: url("./image/icon@2x_2_dark.png");
  --main-icon3: url("./image/icon@2x_3_dark.png");
  --step-label: #FFFFFF;
  --step-circle: black;
  --step-active: white;
  --step-line: #ffffff;
  --step-circle-container1: #333333;
  --form-label: rgba(255, 255, 255, 0.4);
  --form-radio-bg: black;
  --form-radio-border: black;
  --form-radio-mainContent: white;
  --form-radio-input-sd: rgba(255, 255, 255, 0.4);
  --form-radio-input-bg: white;
  --shoppinglist-bg: #383838;
  --shoppinglist-control-bg: #808080;
  --shoppinglist-control-content: black;
  --btnleft-bg: #121212;
  --btnleft-color: white;
  --divideLine: rgba(255, 255, 255, 0.2);
  --rightPart-border: rgba(255, 255, 255, 0.2);
}


* {
  color: var(--font-color);
  background-color: var(--primary-bg);
}

/*header*/
header {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(13, minmax(80px, 1fr));
  height: 60px;
  padding-top: 17px;
  .nav {
    display: none;
  }
  .header__menu {
    grid-column: 1 / 6;
    ul {
      li {
        display: inline;
        font-size: 16px;
        margin-right: 32px;
      }
    }
  }
  .header__logo {
    grid-column: 6 / 9;
    position: relative;
    img {
      background-image: var(--main-logo);
      width: 170px;
      height: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain;
      background-repeat: no-repeat;
      
    }
  }
  .header__icon {
    position: relative;
    grid-column: 9 / 14;
    div {
      position: absolute;
      right: 0px;
    }
    img {
      top: 18px;
      width: 24px;
      height: 24px;
      margin-left: 31px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    #icon1{
      background-image: var(--main-icon1)
    }
    #icon2 {
      background-image: var(--main-icon2)
    }
    #icon3 {
      background-image: var(--main-icon3)
    }
  }
}

/*main*/
main {
  margin-left: 5%;
  margin-right: 5%;
  .title {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .main__display {
    display: grid;
    grid-template-columns: repeat(13, minmax(80px, 1fr));
    height: 500px;
  }
  .main__display__left {
    grid-column: 1 / 7;
  }
}

//stepper
.stepper {
  display: flex;
  width: 100%;
  .step {
    flex: none;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: start;
    .circle-container {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: #afb1bd 2px solid;
      background-color: var(--step-circle);
      color: #afb1bd;
      position: relative;
    }

    .label-container {
      color: #AFB1BD;
      margin-left: 5px;
    }

    &.active .circle-container {
      color: var(--step-active);
      border: var(--step-active) 2px solid;
    }

    &.active .label-container {
      color: var(--step-label);
    }

    &.checked .label-container {
      color: var(--step-label);
    }

    &:nth-child(1) .circle-container {
      background-color: var(--step-circle-container1);
      color: white;
      border: black 2px solid;
    }
    @include getStepNums(5);

    .circle-container::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.checked .circle-container::after {
      content: "\2714";
    }

    &.checked .circle-container {
      background-color: var(--step-circle-container1);
      border: var(--step-circle-container1) solid 2px;
    }
    &.checked .circle-container::after {
      content: "\2714";
      color: white;
    }
  }
  .stepL {
    position: relative;
    flex: 1;
    .connect-line {
      display: block;
      height: 3px;
      width: 50%;
      background-color: var(--step-line);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//form
.main__display__left__form {
  .part {
    margin-top: 64px;
  }
  label {
    font-size: 12px;
    color: var(--form-label);
  }
  .form__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .item1,
    .item5 {
      grid-column: 1 / 5;
    }
    .item2,
    .item6 {
      grid-column: 5 / 13;
      input {
        display: block;
      }
    }
    .item3,
    .item9 {
      grid-column: 1 / 7;
    }
    .item4,
    .item10 {
      grid-column: 7 / 13;
    }
    .item7,
    .item8 {
      grid-column: 1 / 9;
    }
  }
  .form__row > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form__row > div:nth-child(1) {
    padding-right: 50px;
  }
  .select-wrap {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 6px;
    &::after {
      content: "\25BE";
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  select {
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: none;

  }
  .form__radio {
    background-color: var(--form-radio-bg);
    border: 1px solid var(--form-border);
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 13;
    border-radius: 4px;
    align-items: center;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 15px;

    input {
      margin: 10px;
      width: 20px;
      height: 20px;
      -webkit-appearance: none;
      border-radius: 50%;
      border: var(--form-border) 1px solid;
      cursor: pointer;
      &:checked {
        box-shadow: inset 0 0 0 5px var(--form-radio-input-sd);
      }
    }
    .form__radio__deliver {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .deliver__method {
        flex: 1;
        font-size: 14px;
        background-color: var(--form-radio-bg);
      }
      .deliver__price {
        text-align: right;
        flex: 1;
        font-size: 12px;
        background-color: var(--form-radio-bg);
      }
      .deliver__duration {
        flex: 100%;
        font-size: 12px;
        background-color: var(--form-radio-bg);
        color: gray;
      }
    }
  }
  .controlpanel {
    position: relative;
    background-color: blue;
    margin-top: 20px;
    .btn {
      width: 175px;
      height: 46px;
      border-radius: 8px;
      border: none;
    }
    .btnright {
      background-color: #f67599;
      color: white;
      position: absolute;
      right: 0;
    }
    .btnleft {
      background-color: var(--btnleft-bg);
      color: var(--btnleft-color);
      position: absolute;
      left: 0;
    }
  }
}

//right
.main__display__right {
  grid-column: 9 / 14;
  .totalrightview {
    background-color: var(--secondary-bg);
    border-radius: 8px;
    border: 1px var(--rightPart-border) solid;
    padding: 32px 32px 24px 24px;
    h4 {
      margin-bottom: 34px;
      background-color: var(--shoppinglist-bg);
    }
  }
  .havebuyItems{
    background-color: var(--shoppinglist-bg);
  }
  .buyItem {
    display: flex;
    background-color: var(--shoppinglist-bg);
    margin-bottom: 20px;
    width: 100%;
    img {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      margin-right: 24px;
    }
    .itemContent {
      background-color: var(--shoppinglist-bg);
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
    .itemName {
      background-color: var(--shoppinglist-bg);
      flex: 70%;
    }
    .itemPrice {
      background-color: var(--shoppinglist-bg);
      flex: 30%;
      text-align: right;
    }
    .itemControl {
      width: 60%;
      display: flex;
      background-color: var(--shoppinglist-bg);
      .minus1,
      .plus1 {
        width: 26px;
        height: 26px;
        background-color: var(--shoppinglist-control-bg);
        border-radius: 50%;
        text-align: center;
        position: relative;
      }
      & > div {
        margin-right: 20px;
      }
      .minus1::after {
        content: "\002D";
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--shoppinglist-control-content);
        transform: translate(-50%, -50%);
      }
      .plus1::after {
        content: "\002B";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--shoppinglist-control-content);
      }
      .itemNum{
        background-color: var(--shoppinglist-bg);
      }
    }
  }
  .shoppingFee,
  .sum {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--shoppinglist-bg);
    > div {
      background-color: var(--shoppinglist-bg);
    }
  }
}

.input__style {
  width: calc(100% - 10px);
  height: 30px;
  border-radius: 4px;
  border: 1px solid var(--form-border);
}

.d-none {
  display: none;
}

.divideLine {
  width: 100%;
  height: 2px;
  background-color: var(--divideLine);
}

.smmmm {
  display: none;
}

.sm_controlpanel {
  display: none;
}

/* for sm screen */
@media screen and (max-width: 375px) {
  header {
    margin: 0px;
    display: flex;
    .header__menu,
    .header__icon {
      display: none;
    }
    .header__logo {
      flex: 1;
      position: relative;
      img {
        width: 170px;
        height: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .nav {
      display: block;
      position: absolute;
      top: 16px;
      left: 6px;
      .nav-toggle {
        /*input*/
        visibility: hidden;
        &:checked header {
          display: flex;
          flex-direction: column;
        }
      }
      .nav-toggle-label {
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  main {
    margin: 10px;
    .main__display {
      display: flex;
      flex-direction: column;
    }
  }
  // step
  .stepper {
    display: flex;
    justify-content: space-between;
    .step {
      flex: none;
      .label-container {
        display: none;
      }
    }
    .stepL {
      position: relative;
      flex: 1;
      .connect-line {
        display: block;
      }
    }
  }
  // form
  .main__display__left__form {
    .main__display__left__form__content {
      .part {
        .form__row > div {
          padding: 0;
          margin: 0;
        }
        .item1 {
          grid-column: 1 / 6;
        }
        .item2 {
          grid-column: 7 / 13;
        }
        .item3,
        .item4,
        .item5,
        .item6,
        .item7,
        .item8 {
          grid-column: 1 / 13;
        }
        .item9 {
          grid-column: 1 / 6;
        }
        .item10 {
          grid-column: 7 / 13;
        }
      }
      .select-wrap {
        width: 96%;
      }
      .form__radio {
        grid-column: 1 / 13;
      }
      .form__radio__deliver {
        padding: 10px;
      }
      .deliverPart {
        margin-bottom: 10px;
      }
    }
  }
  .controlpanel {
    display: none;
  }
  .main__display__right {
    margin-top: 20px;
    .totalrightview {
      padding: 10px;
      h4 {
        display: none;
      }
      img {
        margin-right: 5px;
      }
      .itemContent {
        display: flex;
        flex-direction: row;
        .itemName {
          order: 1;
          text-align: right;
        }
        .itemPrice {
          order: 3;
        }
        .itemControl {
          order: 2;
          width: 100%;
          display: flex;
          justify-content: right;
          div {
            margin-right: 0px;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .sm_controlpanel {
    display: flex;
    position: relative;
    margin-top: 20px;
    .btn {
      height: 46px;
      border-radius: 8px;
      border: none;
    }
    .sm_btnright {
      flex: 1;
      background-color: #f67599;
      color: white;
    }
    .sm_btnleft {
      flex: 1;
      background-color: white;
      color: black;
    }
  }
  .sm_noShow {
    display: none;
  }
  .smmmm {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
